body{
	background-color: #1a2332!important;
	color: white !important;
}


.title{
	text-align: center;
	color: #9fef00!important;
}

.title-t{
	text-align: center;
	border-bottom: 2px solid #9fef00;
	text-shadow: 3px 2px 2px #9fef007e;
}


.centre{
	position: relative;
	left: 50%;
}



input{
	display: block;
	font-size: 15px;
	padding: 5px;
	text-align: center;
	height: auto;
}

label{
	display: block;
	font-size: 20px;
	padding: 5px;
	color: #fff;

}
#age{
	background-color: #fff;
}

#sexe{
	background-color: #fff;
}

.clearfix {
	margin-top: 60px;
}

.card-settings {
	width: 100%;
	background: #141d2b!important;
	max-width: 750px;
	margin-top: 10vh;
	margin-right: auto;
	margin-left: auto;
	
}


.btn {
	background-color: #9fef00 !important;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	width: 100px;
	color: #141d2b;
}

.greenText {
	color: #fff;
} 


.card-playground {
	text-align: center;
	display: block;
	justify-content: center;
}

.cards-play_2{
	display: inline;
}

.card-img {
	max-width: 120px;
	max-height: 100%;
	text-align: center;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
}

.bet-input {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	width: 280px;
}

#input-btn {
	text-align: center;
	height: 40px;
	width: 100px;
	color: #fff;
}

.center-block{
	display: table;  /* Instead of display:block */
    margin-left: auto;
    margin-right: auto;
}


.mise-style {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #9fef00;
}


.mise-style-t {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #9fef00;
}
