body{
	background-color: #1a2332!important;
	color: white !important;
}


.title{
	text-align: center;
	color: #9fef00!important;
}

.title-t{
	text-align: center;
	border-bottom: 2px solid #9fef00;
}


.centre{
	position: relative;
	left: 50%;
}


input{
	display: block;
	font-size: 15px;
  	padding: 5px;
	text-align: center;
}

label{
	display: block;
	font-size: 20px;
  	padding: 5px;
	color: #fff;

}
#age{
	background-color: #fff;
}

#sexe{
	background-color: #fff;
}

.clearfix {
	margin-top: 60px;
}

.card-settings {
	width: 100%;
	background: #141d2b!important;
	max-width: 600px;
	position: relative;
	left: 27%;
	/* il faut soustraire du poucentage la taille de la card*/
	
}


.btn {
	background-color: #9fef00 !important;
}

.greenText {
	color: #fff;
} 